*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url(./background/Screenshot\ 2023-11-03\ 144741.png);
    font-size: 20px;
}

section {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.signup {
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
}

.links-signup,
.form-signup {
    width: 50%;
    padding: 30px 50px;
}

.links-signup {
    background: linear-gradient(134deg, #fbce50, #e08106);
    color: white;
}

.form-signup h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 45px;
}

.form fieldset {
    border: none;
    padding: 0;
    margin: 20px 0;
    position: relative;
}

.form fieldset input {
    width: 100%;
    height: 48px;
    color: #333;
    padding: 15px 40px 15px 15px;
    font-size: 14px;
    outline: none !important;
    border: 1px solid orange;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    vertical-align: top;
}

.form-signup fieldset::after {
    content: "\f007";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 17px;
    z-index: 2;
    width: 20px;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-signup fieldset.email::after {
    content: "\f0e0";
}

.form-signup fieldset.password::after {
    content: "\f023";
}

.bttn {
    display: block;
    background-color: #bded7d;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
}

.bttn::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.bttn:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}

.social-bttn {
    padding-left: 64px;
    position: relative;
    z-index: 1;
}

.social-bttn .fa {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 3.2;
    border-radius: 5px 0 0 5px;
}

.form button {
    width: 100%;
    background: linear-gradient(-5deg, #79b52c, #94d63d);
    border: none;
    font-weight: bold;
    box-shadow: 0 3px 0 rgba(115, 136, 89, 0.2);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.fb {
    background-color: #3b5999;
}

.tw {
    background-color: #55acee;
}

.gg {
    background-color: #dd4b39;
}

.be {
    background-color: #5f7be9;
}